.upload {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	color: #a6a6a6;
	font-family: interface, Helvetica Neue, helvetica, sans-serif;
	font-size: 18px;
	letter-spacing: 0.01em;
	text-transform: capitalize;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 600;
	margin-top: 16px;
	margin-bottom: 16px;
}

.gifs {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.hiddenInput {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}

.upload,
.fileInput {
	margin-top: 16px;
}
